.clear{
  text-align:center;
}
.btn-success{
  transition:all 1s;
}
.btn-success:hover{

  transform:translateY(-10px) scale(1.1);
 
}
body{
  background-image: url(header.jpg);
  background-size: cover;
  background-attachment:fixed;
  background-position:center;
}
h1{
  font-size:6vw;
  text-align:center;
  margin-top:20vh;
  margin-bottom:30vh;
  color:grey;
}